<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Do not forget to change the path to the css file -->
    <title>{{title}}</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    {{#if errors}}
    <div>
        <div class="errorContainer">
            {{#each errors}}
            <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
    {{/if}}

    <div id="box">


        <nav>
            <a href="/">Home</a>
            <ul>
                <!-- Guest users and Logged users -->
                <li><a href="#">Housing for rent</a></li>
                {{#if username}}
                <li><a href="#">Create offer</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Logout</a></li>
                {{else}}
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}

            </ul>
        </nav>



        <main>
            {{{body}}}
        </main>


        <footer>
            © 2021
        </footer>
    </div>

</body>

</html>